.slashed {
	$slash-color: #fff;
	$slash-angle: 9deg;
	$slash-angle-md: 12deg;
	$slash-offset: 2px;
	$slash-offset-md: 5px;
	$slash-font-size: 2.2rem;
	$slash-font-size-md: 4rem;
	$slash-width: 120px;
	$slash-width-md: 200px;

	height: $slash-font-size * 2.4;
	width: $slash-width;
	position: absolute;
	transform: rotate3d(0, 0, 1, -$slash-angle);
	top: $space;
	left: 0;
	z-index: 100;
	border-radius: 10px;
	// border: 2px solid #fff;

	.top,
	.bot {
		position: absolute;
		text-align: center;

		// font: 3.7rem/100px $text-font;
		font-size: $slash-font-size;
		line-height: 100px;
		font-family: $text-font;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
		overflow: hidden;
		color: $slash-color;

		&:before {
			content: attr(title);
			position: absolute;
			left: 0;
			right: 0;
			transform: rotate($slash-angle);
		}
	}

	.top {
		top: 0;
		left: $slash-offset;
		right: 0;
		bottom: 50%;

		&:before {
			bottom: -50px;
		}
	}

	.bot {
		top: 50%;
		left: 0;
		right: $slash-offset;
		bottom: 0;

		&:before {
			top: -50px;
		}
	}

	@include media(md) {
		width: $slash-width-md;

		.top,
		.bot {
			font-size: $slash-font-size-md;
		}

		.top {
			right: $slash-offset-md;
		}

		.bot {
			left: $slash-offset-md;
		}
	}
}