.menu {
	// constants
	$vertical: true;
	$menu-items: 5;
	// variables
	--btn-width: 42px;
	--btn-height: 25px;
	--position: var(--space-md);
	--gutter: var(--space);
	--nav-size: calc((var(--btn-height) + var(--gutter)) * #{$menu-items});

	position: absolute;
	height: var(--btn-height);
	width: var(--btn-width);
	top: var(--position);
	right: var(--position);
	z-index: 1000;

	&-button {
		height: 100%;

		img {
			@extend .img-fit;
			animation: fadeIn 1s ease-in-out;
		}
	}

	&-nav {
		height: 0;
		width: 0;
		overflow: hidden;
		position: absolute;
		transition: all .1s;
		transition-delay: .6s;

		@if $vertical {
			top: var(--btn-height);
		}

		@else {
			left: calc(var(--nav-size) * -1);
			top: 0;
		}

		&.active {
			transition: all .1s;
			transition-delay: 0;

			@if $vertical {
				height: var(--nav-size);
				width: 100%;
			}

			@else {
				width: var(--nav-size);
				height: 100%;
			}
		}

		ul {
			font-size: 2.5rem;
			@include flex(space-between);

			@if $vertical {
				padding-top: var(--gutter);
				flex-direction: column;
				height: 100%;
			}

			@else {
				padding-right: calc(var(--gutter)/2);
			}

			li {
				height: var(--btn-height);
				width: var(--btn-width);
				@include flex(center);

				@if $vertical {
					margin: 0 auto;
				}

				@else {
					padding-top: 2px;
				}

				@for $i from 1 through $menu-items {
					&.hide-#{$i} {
						opacity: 0;

						@if $vertical {
							transform: translate(0, calc(var(--nav-size) * -1));
							transition: all ($i) * .2s;
						}

						@else {
							transform: translate(var(--nav-size), 0);
							transition: transform ($i) * .15s, opacity ($i) * .1s;
						}
					}

					&.show-#{$i} {
						&.active {
							opacity: 1;
							transform: translate3d(0, 0, 0);

							@if $vertical {
								transition-property: transform  ($i) * .15s, opacity ($i) * .2s;
							}

							@else {
								transition: all ($i) * .2s;
							}
						}
					}
				}

				svg {
					height: calc(var(--btn-height) - 4px);
					width: calc(var(--btn-height) - 4px);
				}
			}
		}
	}

	@include media {
		--btn-size: 40px;
		--btn-width: 70px;
		--btn-height: 40px;
		--gutter: var(--space-lg);
		--position: var(--space-xl);

		&-button,
		svg {
			&:active {
				transform: scale3d(.95, .95, 1);
			}
		}
	}
}