.split-image {
	--angle: 7deg;
	--width: calc(var(--space-xxxl) * 4);
	--displacement: 10%;

	@include flex(center);
	width: var(--width);
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, 0) rotate(var(--angle));

	div {
		overflow: hidden;
		width: 100%;
		height: 100%;
		position: relative;
		img {
			border-radius: 50%;
			@extend .img-fit;
			position: relative;
		}
	}

	& div:first-child {
		transform: translateY(-10%);

		img {
			right: -50%;
			transform: rotate(calc(var(--angle) * -1 ));
		}
	}

	& div:last-child {
		transform: translateY(10%);

		img {

			left: -50%;
			transform: rotate(calc(var(--angle) * -1 ));
		}
	}


}