// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: 62.5%;
	max-width: 100vw;
	min-width: $min-width;
}

body {
	color: var(--font-color);
	font-size: var(--text);
	font-family: var(--text-font);
	// background-image: $grad-bg-dark;
	background-image: var(--grad-bg-dark);
}

.container {
	padding: 0 var(--space-md);
	max-width: 900px;
	margin: auto;

	@include media($screen-xl) {
		max-width: 1200px;
	}
}

a {
	color: var(--font-color);
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

.section {
	overflow: hidden;
}

.visible-md {
	display: none;

	@include media {
		display: inline-flex;
	}
}
.page-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
}