// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
$text-font: 'Oswald',
'Open Sans',
'Helvetica Neue Light',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif !default;

/// Code (monospace) font family
$code-fontk: 'Courier New',
'DejaVu Sans Mono',
'Bitstream Vera Sans Mono',
'Monaco',
monospace !default;

$success: #59d65f !default;
$info: rgb(84, 162, 201) !default;
$danger: #ff1058 !default;

$brand1: #a52247 !default;
$brand2: #ce2d83 !default;
$brand3: #60307e !default;
$brand4: #385eb8 !default;


// Greyscale
$white: #ffffff;
$off-white: #f2f2f2;
$grey-lighter: #e0e0e0;
$grey-light: #dfdfdf;
$grey: #a5a5a5;
$grey-medium: #596164;
$grey-dark: #38393c;
$grey-darker: #231f20;
$black: #000000;


// Spacing
$space: 12px;
$space-xs: ($space/4);
$space-sm: ($space/2);
$space-md: $space*1.5;
$space-lg: $space*2;
$space-xl: $space*3;
$space-xxl: $space*5;

// Navbar
$navbar-height: 35px;

/** Bootstrap's Screen Sizes **/
// Small mobile
$screen-xs: 360px;
// Large mobile
$screen-sm: 576px;
// Small Tablet
$screen-md: 768px;
// Large Tablet
$screen-lg: 992px;
// Small  laptop
$screen-xl: 1200px;
// Large laptop
$screen-xxl: 1600px;
// $K Desktop
$screen-4k: 3800px;

// RESPONSIVE BREAKPOINTS
$min-width: 320px;

//Custom settings

//Variables
$font-color: white;
$page-bg: linear-gradient(to left bottom, darken($brand3, 35%), darken($brand1, 45%));
$page-bg_light: linear-gradient(to left bottom, darken($brand3, 10%), darken($brand1, 20%));
