.Title {
	font-size: var(--text-xl);
	color: var(--white);
	letter-spacing: 0.1em;
	font-weight: 200;
	text-shadow: var(--darkShadow);
	text-transform: uppercase;
	line-height: 1;
}

.Header {
	--base-gutter: calc(var(--space-lg) * .9);

		left: 50%;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		z-index: 1;

		.main-logo {
			height: 14rem;
			height: calc(var(--text-xxxl) * 1.3);
			margin: 0 0 2.2rem;
			margin: 0 0 var(--base-gutter);
		}

		h1 {
			@extend .reader-only;
		}

		.title {
			color: #fff;
			letter-spacing: 6px;
			letter-spacing: var(--space-sm);
			font-size: 4rem;
			font-size: var(--text-xl);
			margin: 0 0 2.2rem;
			margin: 0 0 var(--base-gutter);
			font-weight: 400;
			line-height: .9;
			text-align: center;
			text-transform: uppercase;
			width: 70vw;
		}

		h2 {
			font-weight: 300;
			letter-spacing: 1px;
			text-transform: capitalize;
			line-height: .8;
			font-size: 3rem;
			font-size: var(--text-md);
			margin-bottom: 60px;
			margin-bottom: var(--space-xxl);
		}

		.break {
			@include hide;
			margin: 12px;
			margin: var(--space);
		}
}

svg {
	fill: var(--font-color);
}

.svg-xl {
	svg {
		height: 6rem;
		width: 6rem;
	}
}

.svg-lg {
	svg {
		height: 4rem;
		width: 4rem;
	}
}

.svg-md {
	svg {
		height: 3rem;
		width: 3rem;
	}
}

.svg-sm {
	svg {
		height: 2rem;
		width: 2rem;
	}
}

.icon_BTN,
.icon_BTN:focus,
.icon_BTN:hover,
.icon_BTN:active {
	cursor: pointer;
	border: none;
	margin: 0;
	padding: 0;
	background: transparent;
	outline: none;
}

.btn {
	--btn-color: var(--white);
	-btn-background: transparent;
	padding: var(--space) var(--space-lg);
	border: 2px solid var(--btn-color);
	color: var(--btn-color);
	transition: var(--transition);
	border-radius: 2px;
	font-size: var(--text);
	text-transform: uppercase;
	background: var(--btn-background);
	letter-spacing: 2px;

	&:hover {
		--btn-color: var(--brand4);
		--btn-background: #fffd;
	}
}

// *:focus {
//   outline: none !important;
// }

// button::-moz-focus-inner {
//   border: 0;
// }

.noSelect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}


// ::selection {
//     background: #e5eff1;
//     /* WebKit/Blink Browsers */
//     color: $color-primary;
// }

// ::-moz-selection {
//     background: #ebebeb;
//     /* Gecko Browsers */
//     color: $color-primary;
// }

// button:focus,
// button:active {
//     outline: none !important;
//     outline: 0 !important;
// }

// button::-moz-focus-inner {
//     border: 0;
// }

// // input::placeholder {
// //     color: rgb(182, 36, 158);
// //     opacity: .5;
// // }

// input::-moz-focus-inner {
//     border: 0;
//     border: none;
// }


	@keyframes float {
		0% {
			transform: translate3d(-50%, 0, 0);
		}

		50% {
			transform: translate3d(-50%, -10px, 0);
		}

		100% {
			transform: translate3d(-50%, 0, 0);
		}
	}