// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// see: https://codyhouse.co/blog/post/css-custom-properties-vs-sass-variables
// -----------------------------------------------------------------------------

	// Extra small mobile
	$min-width: 320px;
	// Small mobile
	$screen-xs: 360px;
	// Large mobile
	$screen-sm: 576px;
	// Small Tablet
	$screen-md: 768px;
	// Large Tablet
	$screen-lg: 992px;
	// iPad pro
	$screen-xl: 1200px;
	// laptop
	$screen-xxl: 1600px;
	// HD desktop
	$screen-xxl: 1920px;
	// $K Desktop
	$screen-4k: 3800px;


	//App :default
	$brand1: #db2e60;
	$brand2: #ce2d83;
	$brand3: #8b45b8;
	$brand4: #5539af;

:root {
	// Navbar
	--navbar-height: 50px;
	--transition: all 0.2s linear;

	--brand1: #{$brand1};
	--brand2: #{$brand2};
	--brand3: #{$brand3};
	--brand4: #{$brand4};

	// Service default
	--success: #239976;
	--danger: #bd093f;
	--info: #3f81a1;

	// Greyscale
	--white: #ffffff;
	--off-white: #f2f2f2;
	--grey-lighter: #e0e0e0;
	--grey-light: #dfdfdf;
	--grey: #a5a5a5;
	--grey-medium: #596164;
	--grey-dark: #38393c;
	--grey-darker: #231f20;
	--black: #111122;

	//Custom settings
	--font-color: var(--white);
	--lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
	--darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
	--grad-bg: linear-gradient(to left bottom, var(--brand1), var(--brand3));
	--grad-bg-dark:linear-gradient(to left bottom, #{darken($brand3, 35%)}, #{darken($brand1, 45%)});

	// Regular font family
	--text-font: 'Oswald',
		'Open Sans',
		'Helvetica Neue Light',
		'Helvetica Neue',
		'Helvetica',
		'Arial',
		sans-serif;

	// Code (monospace) font family
	--code-font: 'Courier New',
		'DejaVu Sans Mono',
		'Bitstream Vera Sans Mono',
		'Monaco',
		monospace;

	// Spacing
	--space: 8px;
	--space-xs: calc(var(--space) / 4);
	--space-sm: calc(var(--space) / 2);
	--space-md: calc(var(--space) * 1.5);
	--space-lg: calc(var(--space) * 2);
	--space-xl: calc(var(--space) * 3);
	--space-xxl: calc(var(--space) * 5);
	--space-xxxl: calc(var(--space) * 6);

	// body font size
	--text: 1em;
	--text-xs: calc(var(--text) / 4);
	--text-sm: calc(var(--text) / 2);
	--text-md: calc(var(--text) * 1.5);
	--text-lg: calc(var(--text) * 2);
	--text-xl: calc(var(--text) * 3);
	--text-xxl: calc(var(--text) * 5);
	--text-xxxl: calc(var(--text) * 6);

	@media only screen and (min-width: $screen-xs) {
		--text: 1.2em;
		--space: 10px;
	}

	@media only screen and (min-width: $screen-md) {
		--text: 1.4em;
		--space: 12px;
	}

	@media only screen and (min-width: $screen-xxl) {
		--text: 1.6em;
		--space: 14px;
	}
}