@keyframes trans {
	from {
		transform: translate(0, 0);
	}
}

@include Page ('About') {
	.scrambled {

		&-container {
			position: absolute;
			width: 100%;
			top: calc(var(--space-xxxl) * 4);
			right: 0;
			text-align: center;
			transform: translate3d(0, -50%, 0);

			@include mediaDn($screen-xl, true) {
				border: 1px solid #00f;
				top: calc(var(--space-xxl) * 4);
			}
		}

		&-text {
			@extend .Title;

			span {
				color: var(--brand1);
			}

			animation: fadeIn 1s ease-in-out;
		}
	}

	.article {
		position: relative;
		top: 450px;
	}
}

@include animateIn ('About') {
	.scrambled {
		&-text {
			animation: fadeIn 2s ease-in-out;
		}
	}

	.split-about {
		div {
			animation: trans 1.2s linear;
		}
	}
}


@include animateOut ('About') {
	.scrambled {
		opacity: 0;

		&-text {
			animation: fadeOut .4s ease-in-out;
		}
	}
}