@include Page ('Home') {
	.header {
		--base-gutter: calc(var(--space-lg) * .9);

		left: 50%;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		z-index: 1;

		.main-logo {
			height: calc(var(--text-xxxl) * 1.3);
			margin: 0 0 var(--base-gutter);
		}

		h1 {
			@extend .reader-only;
		}

		.title {
			color: #fff;
			letter-spacing: var(--space-sm);
			font-size: var(--text-xl);
			margin: 0 0 var(--base-gutter);
			font-weight: 400;
			line-height: .9;
			text-align: center;
			text-transform: uppercase;
			width: 70vw;
		}

		h2 {
			font-weight: 300;
			letter-spacing: 1px;
			text-transform: capitalize;
			line-height: .8;
			font-size: var(--text-md);

		}

		.break {
			@include hide;
			margin: var(--space);
		}
	}

	.video-container {
		video {
			background-position: center center;
			object-fit: cover;
			max-width: 100%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 0;
			position: absolute;
			right: 0;
			top: 0;
			// opacity: .9;
		}
	}

	.scroll {
		&-icon {
			z-index: 2;
			position: absolute;
			bottom: var(--space-lg);
			left: 50%;
			transform: translate3d(-50%, 0, 0);

			@include media ($screen-lg) {
				bottom: var(--space-xl);
			}
		}
	}
}
@include animateIn('Home') {
	.main-logo {
		animation: bounceInDown calc(var(--delay) + .2s) ease-in-out;
	}

	.title {
		animation: fadeInRight var(--delay) ease-in-out;
	}

	h2 {
		animation: fadeInLeft var(--delay) ease-in-out;
	}

	video {
		opacity: 1;
		animation: fadeInDelayed var(--delay) ease-in-out;
	}
	.page-bg  {
		animation: fadeIn var(--delay) ease-in-out;
	}

	.scroll {
		animation: fadeInDelayed var(--delay) ease-in-out;
		&-icon {
			animation: float 2s ease-in-out infinite;
			animation-delay: var(--delay);
		}
	}
}

@include animateOut('Home') {
	--delay : .4s;
	.main-logo {
		animation: fadeOutRight var(--delay) ease-in-out;
	}

	.title {
		animation: fadeOutLeft var(--delay) ease-in-out;
	}
	video {
		opacity: 0;
		animation: fadeOut var(--delay) ease-in-out;
	}

	h2 {
		animation: fadeOutRight var(--delay) ease-in-out;
	}
}