@include Page ('Home') {
	.header {
		@extend .Header;
	}

	.scroll {
		&-icon {
			z-index: 2;
			position: absolute;
			bottom: var(--space-lg);
			left: 50%;
			transform: translate3d(-50%, 0, 0);

			@include media ($screen-lg) {
				bottom: var(--space-xl);
			}
		}
	}
}

@include animateIn('Home') {
	.main-logo {
		animation: bounceInDown calc(var(--delay) + .2s) ease-in-out;
	}

	.title {
		animation: fadeInRight var(--delay) ease-in-out;
	}

	h2 {
		animation: fadeInLeft var(--delay) ease-in-out;
	}

	video {
		opacity: 1;
		animation: fadeInDelayed var(--delay) ease-in-out;
	}

	.page-bg {
		animation: fadeIn var(--delay) ease-in-out;
	}

	.scroll {
		animation: fadeInDelayed var(--delay) ease-in-out;

		&-icon {
			animation: float 2s ease-in-out infinite;
			animation-delay: var(--delay);
		}
	}
}

@include animateOut('Home') {
	--delay: .4s;

	.main-logo {
		animation: fadeOutRight var(--delay) ease-in-out;
	}

	.title {
		animation: fadeOutLeft var(--delay) ease-in-out;
	}

	video {
		opacity: 0;
		animation: fadeOut var(--delay) ease-in-out;
	}

	h2 {
		animation: fadeOutRight var(--delay) ease-in-out;
	}
}