@include Page ('Works') {
	figure {
		margin: auto;
		height: 300px;
		width: 200px;
		overflow: hidden;
		border-radius: 10px;

		img {
			// @extend .img-fit;
			object-fit: cover;
		}
	}
}

@include animateIn ('Works') {}

@include animateOut ('Works') {}