// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// Media query {
:root {
	@include media($screen-xs) {
		// --text-scale-ratio: 1.25;
		--text: 1.2em;
		--space: 10px;
	}

	@include media {
		// --text-scale-ratio: 1.25;
		--text: 1.4em;
		--space: 12px;
	}

	@include media($screen-xxl) {
		// --text-scale-ratio: 1.3;
		--text: 1.6em;
		--space: 14px;
	}
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: 62.5%;
	max-width: 100vw;
	min-width: $min-width;
}

body {
	color: v(font-color);
	font-size: v(text);
	font-family: v(text-font);
	background-image: v(grad-bg);
}

.container {
	padding: 0 v(space-md);
	max-width: 900px;
	margin: auto;

	@include media($screen-xl) {
		max-width: 1200px;
	}
}

a {
	color: v(font-color);
	text-decoration: none;
	/* no underline */
}

li {
	list-style: none;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

.section {
	overflow: hidden;
}

.visible-md {
	display: none;

	@include media(md) {
		display: inline-flex;
	}
}

.page-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0;
}